@model INDEShipping.Models.TransportCompany

@{
    ViewData["Title"] = "Create Transport Company";
}

<h2>Create Transport Company</h2>

<h4>Transport Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxLength" class="control-label"></label>
                <input asp-for="MaxLength" class="form-control" />
                <span asp-validation-for="MaxLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxWidth" class="control-label"></label>
                <input asp-for="MaxWidth" class="form-control" />
                <span asp-validation-for="MaxWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxHeight" class="control-label"></label>
                <input asp-for="MaxHeight" class="form-control" />
                <span asp-validation-for="MaxHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxWeight" class="control-label"></label>
                <input asp-for="MaxWeight" class="form-control" />
                <span asp-validation-for="MaxWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxCubic" class="control-label"></label>
                <input asp-for="MaxCubic" class="form-control" />
                <span asp-validation-for="MaxCubic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfferType" class="control-label"></label>
                <select asp-for="OfferType" class="form-control">
                    <option value="Weight">Προσφορές με κιλό</option>
                    <option value="Cubic">Προσφορές με κυβικό</option>
                </select>
                <span asp-validation-for="OfferType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
